@font-face {
  font-family: "FiraSans";
  src: url("https://free.bboxtype.com/embedfonts/?family=FiraSans:500") format("woff");
}
#webpage {
  font-family: Fira Sans;
  color: #333333;
}
html {
    scroll-behavior: smooth;
 }


#headInfo {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  justify-items: center;
}

#remainingInfo {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
}

article > h3 {
  text-align: center;
}

footer {
  background-color: #333;
  color: white;
}


