html {
    scroll-behavior: smooth;
  }

.topsplash {
    background: url(‘https://www.google.com/imgres?imgurl=https%3A%2F%2Fupload.wikimedia.org%2Fwikipedia%2Fcommons%2F2%2F22%2FChip_Ganassi_Ford_GT_M%25C3%25BCcke_Silverstone_2018.jpg&imgrefurl=https%3A%2F%2Fcommons.wikimedia.org%2Fwiki%2FFile%3AChip_Ganassi_Ford_GT_M%25C3%25BCcke_Silverstone_2018.jpg&tbnid=IXwy6Fa1zheKNM&vet=12ahUKEwjm1s3eiO3nAhUHD60KHXcyAZEQMygBegUIARD4AQ..i&docid=k93XCC5SOCpTrM&w=2898&h=1631&q=ford%20gt%20race%20car&hl=en&safe=active&ved=2ahUKEwjm1s3eiO3nAhUHD60KHXcyAZEQMygBegUIARD4AQ’)
}

footer {
background-color: #333;
}

p {
color: Azure;
}
