@font-face {
  font-family: "FiraSans";
  src: url("https://free.bboxtype.com/embedfonts/?family=FiraSans:500") format("woff");
}
#webpage {
  font-family: Fira Sans;
  color: #333333;
}
html {
    scroll-behavior: smooth;
 }


#headInfo {
  background: url('./Images/Ford_GT_Nogaro.jpg') center;
  background-size:cover;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  padding: 20px;
  color:whitesmoke;
}

.topsplashText {
 padding-top: 70px;
 color: whitesmoke;
}

img {
  max-width: 100%;
  height: auto;
}

#headImage {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
}

article > h3 {
  text-align: center;
}

footer {
  background-color: #333;
  color: white;
  text-align: center;
}

#mainContent {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240 px, 1fr));
}

p {
  color: #333333;
  font-size: 1.2em;
  line-height: 1.4;
}

footer > p {
  color: whitesmoke;
}
