@font-face {
  font-family: "FiraSans";
  src: url("https://free.bboxtype.com/embedfonts/?family=FiraSans:500") format("woff");
}

p {
    font-size: 1.1em;
    font-family: 'Fira Sans';
}

h1 {
  font-family: Helvetica, sans-serif;
  text-align: center;
}

html {
    padding: 25px;
    background-color: whitesmoke;
}

#siteLogo{
  background: url(./GImages/GitFitLogo.png) center;
  background-size: cover;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  padding: 20px;
  color: #333333;
}

footer {
  background-color: #FF9100;
}

footer > p {
  color: whitesmoke;
  text-align: center;
}

.button {
  display: grid;
  grid-template-columns: repeat(autofit, minmax(150px, 1fr));
  align-items: center;
}

.button > button {
  text-align: center;
  color: #FF9100;
  background-color: whitesmoke;
  font-family: Helvetica, sans-serif;
  font-size: 1.2em;
  padding: 15px;
  border: 2px solid #FF9100;
  border-radius: 3px;
}

.button > button:hover {
  text-align: center;
  color: whitesmoke;
  background-color: #FF9100;
  cursor: pointer;
}

.hero {
  background: url('./GIamges/GitFitLogo.png');
  background-size: cover;
  height: 1em;
  width: 1em;
}

img {
  width: 100%;
  height: auto;
}

#buttonHousing {
  display: grid;
  grid-template-columns: repeat(autofit, minmax(100px, 1fr));
  place-items: center;
}

code {
  font-size: 1.2em;
  padding: .1rem .3rem .2rem;
  background: #CFCFCF;
}